<div class="item-container">
  <div class="item-container__header">
    <img src="assets\image\freestocks-_3Q3tsJ01nc-unsplash.jpg" alt="" />
  </div>

  <div class="item-title">
    <h2>FASHION ITEMS IN ALL STYLES</h2>
  </div>

  <div class="items">
    <div class="item-one">
      <img src="assets\image\becca-mchaffie-Fzde_6ITjkw-unsplash.jpg" alt="" />
    </div>
    <div class="item-two">
      <img src="assets\image\brooke-lark-W1B2LpQOBxA-unsplash.jpg" alt="" />
    </div>
    <div class="item-three">
      <img src="assets\image\jon-ly-Xn7GvimQrk8-unsplash.jpg" alt="" />
    </div>
        <div class="item-five">
      <img src="assets\image\artem-beliaikin-GLg0z5z8EQU-unsplash.jpg" alt="" />
    </div>
    <div class="item-six">
      <img src="assets\image\artem-beliaikin-kTd2PvtqE_o-unsplash.jpg" alt="" />
    </div>
  </div>
</div>